<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.qa.ExtentReportListenerrr.ExtentManager" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testData.Checklist"/>
      <class name="testData.Boards"/>
      <class name="testData.Organization"/>
      <class name="testData.Cards"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
